<!DOCTYPE html>
<html>
<head>
    <title>Login Nyadan</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="/assets/images/login/wave.png">
    <div class="container">
        <div class="img">
            <img src="/assets/images/login/bg.svg">
        </div>
        <div class="login-content">
            <form method="POST" action="/controllers/register-controller">
                <img src="/assets/images/login/avatar.svg">
                <h2 class="title">Selamat datang!</h2>

                <!-- Nama -->
                <div class="input-div one">
                   <div class="i">
                        <i class="fas fa-user"></i>
                   </div>
                   <div class="div">
                        <input type="text" name="name" class="input" placeholder="Nama Kamu" name="name">
                   </div>
                </div>

                <!--Username -->
                <div class="input-div one">
                   <div class="i">
                        <i class="fas fa-user"></i>
                   </div>
                   <div class="div">
                        <input type="text" name="username" class="input" placeholder="Username Kamu">
                   </div>
                </div>

                <!-- password -->
                <div class="input-div pass">
                   <div class="i"> 
                        <i class="fas fa-lock"></i>
                   </div>
                   <div class="div">
                        <input type="password" name="password" class="input" placeholder="Password Kamu">
                   </div>
                </div>

                <!-- email -->
                <div class="input-div pass">
                   <div class="i"> 
                        <i class="fas fa-lock"></i>
                   </div>
                   <div class="div">
                        <input type="email" name="email" class="input" required placeholder="Email Kamu">
                   </div>
                </div>

                <!-- umur -->
                <div class="input-div pass">
                   <div class="i"> 
                        <i class="fas fa-lock"></i>
                   </div>
                   <div class="div">
                        <input type="number" name="umur" min='10' max='100' class="input" required placeholder="Umur Kamu">
                   </div>
                </div>


                <a href="/*">Password lupa?</a>
                <a href="/login">Login disini</a>
                <input type="submit" class="btn btn-success" value="Daftar">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>
